@model SearchResultListingViewModel

<h1>Search results:</h1>

@if (Model != null)
{

    <table class="table table-hover">
        <tbody>

            @foreach (var auto in Model.SearchResults)
            {
                <tr>
                    <td><img src="@auto.ImageUrl" height="150" width="210" alt="@auto.Title" /> </td>
                    <td><a asp-controller="Automobile" asp-action="Index" asp-route-id="@auto.Id">@auto.Title</a></td>
                    <td class="text-dark">@auto.Year</td>
                    <td>@auto.Price GBP</td>

                </tr>
            }
        </tbody>

    </table>

    <nav>
        @{ var queryString = this.ViewData["query"];}

        <ul class="pagination justify-content-center">
            @if (this.Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link bg-light" href="#">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link bg-light"
                       asp-route-page="@((Model.CurrentPage - 1).ToString()+queryString)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= this.Model.PagesCount; i++)
            {
                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link bg-info"
                       asp-route-page="@((i).ToString()+queryString)">@i</a>
                </li>
            }

            @if (this.Model.CurrentPage == this.Model.PagesCount)
            {
                <li class="page-item disabled">
                    <a class="page-link bg-light" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link bg-light"
                       asp-route-page="@((Model.CurrentPage + 1).ToString()+queryString)">Next</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <h2>No search results on given criteria</h2>
}
