@model MainCreateInputModel

<h4>Create car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateConcise">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Main.Make" class="control-label"></label>
                <input asp-for="@Model.Main.Make" class="form-control" />
                <span asp-validation-for="@Model.Main.Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Model" class="control-label"></label>
                <input asp-for="@Model.Main.Model" class="form-control" />
                <span asp-validation-for="@Model.Main.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Price" class="control-label"></label>
                <input asp-for="@Model.Main.Price" class="form-control" />
                <span asp-validation-for="@Model.Main.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Mileage" class="control-label"></label>
                <input asp-for="@Model.Main.Mileage" class="form-control" />
                <span asp-validation-for="@Model.Main.Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Color" class="control-label"></label>
                <input asp-for="@Model.Main.Color" class="form-control" />
                <span asp-validation-for="@Model.Main.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Year" class="control-label"></label>
                <input asp-for="@Model.Main.Year" class="form-control" />
                <span asp-validation-for="@Model.Main.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Horsepower" class="control-label"></label>
                <input asp-for="@Model.Main.Horsepower" class="form-control" />
                <span asp-validation-for="@Model.Main.Horsepower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Engine" class="control-label"></label>
                <input asp-for="@Model.Main.Engine" class="form-control" />
                <span asp-validation-for="@Model.Main.Engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.GearBox" class="control-label"></label>
                <input asp-for="@Model.Main.GearBox" class="form-control" />
                <span asp-validation-for="@Model.Main.GearBox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Condition" class="control-label"></label>
                <input asp-for="@Model.Main.Condition" class="form-control" />
                <span asp-validation-for="@Model.Main.Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Body" class="control-label"></label>
                <input asp-for="@Model.Main.Body" class="form-control" />
                <span asp-validation-for="@Model.Main.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Main.Region" class="control-label"></label>
                <input asp-for="@Model.Main.Region" class="form-control" />
                <span asp-validation-for="@Model.Main.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>