@model AutomobileViewModel
    <div>
        <h4>Automobile Index</h4>
        <span><a  asp-controller="User" asp-action="Details" asp-route-id="@Model.AutomobileSellerId" class="btn btn-primary">@Model.AutomobileSellerName</a></span>
        <div class="clearfix"></div>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Make)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Make)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Mileage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Mileage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Horsepower)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Horsepower)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Engine)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Engine)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.GearBox)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.GearBox)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Condition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Condition)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Body)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Body)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrimaryProperties.Region)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryProperties.Region)
            </dd>
        </dl>
    </div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

