@model PostIndexViewModel

<div class="container body-content">
    <div class="row postHeader">
        <div class="postHeading">
            <h1>@Model.Title</h1>
            <span id="headingBtn"><a asp-controller="Category" asp-action="Topic" asp-route-id="@Model.CategoryId" class="btn btn-outline-info ">Back to @Model.CategoryTitle</a></span>
        </div>
    </div>

    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl); background-size: 100%;"></div>

            <span class="postDate"><strong>Created On</strong> @Model.CreatedOn</span>
        </div>
        <div class="col-md-9 postContentContainer">
            @Model.Content
        </div>
    </div>

    <div class="row" id="replyDivider"></div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="row" id="replyRow">
            <span><a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-danger">Post Reply</a></span>
        </div>
    }
    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            <div class="row replyContent">
                <div class="col-md-3 replyAuthorContainer">
                    <div class="postAuthorImage" style="background-image: url(@reply.AuthorImageUrl); background-size: 100%;"></div>

                    <span class="postDate">@reply.CreatedOn.ToShortDateString()</span>
                    <span class="replyAuthor">@reply.AuthorName</span>
                </div>
                <div class="col-md-9 replyContentContainer">
                    <div class="postContent">
                        @reply.Content
                    </div>
                </div>
            </div>
            <div class="m-10px quotes-div display-none">
                <a asp-controller="Quote" asp-action="Create" asp-route-id="@reply.Id" class="text-forum m-10px quoteBtn"><i class="fab fa-replyd"></i> Quote</a>
                @foreach (var quote in reply.Quotes.OrderBy(q => q.CreatedOn))
                {
                    <partial name="../Quote/_QuoteViewPartial" model="quote" />
                }
            </div>
            <div class="text-white menu-bg-forum p-10 mx-10px">
                <a class="text-white show-quotes">Show Quotes </a><i class="fas fa-arrow-down fa-lg icon-arrow"></i>
            </div>

        }
    }
    else
    {
        <p>There are no replies yet.</p>
    }

</div>