@model PostIndexViewModel

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/post.css">
</head>

<body>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">@Model.Title</h1>
                        <p class="text-center"><span>by</span> <a href="@Model.AuthorId">@Model.AuthorName</a><span class="date">Created on: @Model.CreatedOn</span></p>
                    </div>

                    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                        <div class="text">
                            <p>@Model.Content</p>
                            <div class="stats">
                                <a href="#" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bootstrap snippets">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Replies
                    </div>
                    <div class="panel-body">
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <textarea class="form-control" placeholder="Reply..." rows="3"></textarea>
                            <br>

                            <span><a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-info pull-right">Submit</a></span>
                            <div class="clearfix"></div>
                            <hr>

                        }
                        <ul class="media-list">
                            @if (Model.Replies.Any())
                            {
                                foreach (var reply in Model.Replies)
                                {
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            
                                            @if (Model.AuthorImageUrl == null)
                                            {
                                                <img src="~/user.png" alt="userIcon" class="img-circle">
                                            }
                                            else
                                            {
                                                <img src="@Model.AuthorImageUrl" alt="userIcon" class="img-circle">
                                            }

                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">Replied on: @reply.CreatedOn  </small>
                                            </span>
                                            <strong class="text-success">@reply.AuthorName </strong>
                                            <p>
                                                @reply.Content
                                            </p>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <partial>There are no replies yet.</partial>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>